<!--
  templates/_ga.html
  このファイルはGoogle Analyticsのトラッキングコードを埋め込むためのものです。
  ベーステンプレートから読み込まれることで、サイトの全ページに適用されます。
-->

<!-- Google tag (gtag.js) -->
<!-- Googleのタグマネージャーライブラリを非同期で読み込みます -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-92Q69GGDGD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  // ここでGoogle Analyticsの測定IDを設定します。このIDでどのGAプロパティにデータを送信するかを識別します。
  gtag('config', 'G-92Q69GGDGD');
</script>