<!--
  templates/index.page.html
  トップページ（記事一覧）のテンプレートです。
-->

<!-- サイト共通のレイアウトを持つベーステンプレートを継承します -->
{% extends "_base.page.html" %}

<!-- ベーステンプレートのcontentブロックをこの内容で上書きします -->
{% block content %}

  <!-- アイキャッチ画像 -->
  <img src="/static/images/top_illustration.png" alt="和風イラスト" class="rounded-xl mx-auto mb-6 shadow-md" />

  <div class="prose lg:prose-xl max-w-none">
    <h2>📚 記事一覧</h2>
    <ul>
      <!-- ビルドスクリプトから渡された記事リストをループ処理し、各記事の情報をリストアイテムとして出力します -->
      {% for article in articles %}
        <li>
          <div class="leading-tight">
            <!-- 記事の投稿日を表示します -->
            <span class="block text-base text-gray-500">{{ article.date }}</span>
            <!-- 記事ページへのリンクを設定します -->
            <a href="{{ article.url }}">
              <!-- 記事のタイトルを表示します -->
              {{ article.title }}
            </a>
          </div>
        </li>
      {% endfor %} <!-- ループの終了 -->
    </ul>
  </div>

{% endblock %}
