{% extends "_base.page.html" %}

{% block content %}

  <!-- アイキャッチ画像 -->
  <img src="/static/images/top_illustration.png" alt="和風イラスト" class="rounded-xl mx-auto mb-6 shadow-md" />

  <div class="prose lg:prose-xl max-w-none">
    <h2>📚 記事一覧</h2>
    <ul>
      {% for article in articles %}
        <li>
          <div class="leading-tight">
            <span class="block text-base text-gray-500">{{ article.date }}</span>
            <a href="{{ article.url }}">
              {{ article.title }}
            </a>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>

{% endblock %}
